@model ulp_net_inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Detalles";
}

<div class="card">
	<div class="card-header">
		<h5>Detalles Contrato</h5>
	</div>
	<div class="card-body">
		<dl class="row">
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.Desde)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.Desde)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.Hasta)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.Hasta)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.Valor)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.Valor)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.InmuebleId)
			</dt>
			<dd class = "col-sm-10">
				@Model.Inmueble.ToString()
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.InquilinoId)
			</dt>
			<dd class = "col-sm-10">
				@Model.Inquilino.ToString()
			</dd>
		</dl>
	</div>
	<div class="card-footer">
    	<a asp-action="Pagos">Pagos</a> |
		@Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
		<a asp-action="Index">Volver a la lista</a>
	</div>
</div>
