@model ulp_net_inmobiliaria.Models.Contrato

@{
	ViewData["Title"] = "Detalles";
	var ltaPagos = (IList<Pago>)ViewBag.Pagos;
}

<div class="card">
	<div class="card-header">
		@if (User.IsInRole("Administrador"))
		{
			<a class="float-end ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Contratos" asp-action="Delete"
				asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="Eliminar"><span><i class="fa-solid fa-trash fa-fw"></i></span></a>
		}
		@if( Model.Estado != 2){
			<a class="float-end ms-1 btn btn-sm btn btn-outline-primary" asp-controller="Contratos" asp-action="Edit"
				asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="Editar"><span><i class="fa-solid fa-pencil fa-fw"></i></span></a>
			<a class="float-end ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Contratos" asp-action="Terminar"
				asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="Terminar"><span><i class="fa-solid fa-repeat fa-xmark"></i></span></a>
		}
		<a class="float-end ms-1 btn btn-sm btn btn-outline-success" asp-controller="Contratos" asp-action="Renovar"
			asp-route-id="@Model.Id" data-toggle="tooltip" data-placement="top" title="Renovar"><span><i class="fa-solid fa-repeat fa-fw"></i></span></a>
		<a class="float-end ms-1 btn btn-sm btn-outline-primary" asp-controller="Pagos" asp-action="Create"
			asp-route-id="@Model.Id"><span><i class="fa-solid fa-hand-holding-dollar fa-fw"></i></span> Crear Pago</a>
		<h5>Detalles Contrato</h5>
	</div>
	<div class="card-body">
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Desde)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Desde)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Hasta)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Hasta)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Valor)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Valor)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.InmuebleId)
			</dt>
			<dd class="col-sm-10">
				@Model.Inmueble.ToString()
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.InquilinoId)
			</dt>
			<dd class="col-sm-10">
				@Model.Inquilino.ToString()
			</dd>
		</dl>
	</div>
	<h5 class="ps-3">Lista de Pagos del Contrato</h5>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						Numero
					</th>
					<th>
						Fecha
					</th>
					<th>
						Importe
					</th>
				</tr>
			</thead>
			<tbody>
				@if(ltaPagos.Count > 0){
					foreach (var item in ltaPagos)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Numero)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Fecha)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Importe)
							</td>
						</tr>
					} 
				}else{
					<tr><td class="text-center" colspan="3">No hay pagos para mostrar</td></tr>
				}
			</tbody>
		</table>
	</div>
	<div class="card-footer">
		<a asp-action="Index" class="float-end">Volver a la lista</a>
	</div>
</div>
