@model ulp_net_inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
    var ltaInmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
	var ltaInquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
}
@if( ViewBag.Error != null ){
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Atención!</strong> @ViewBag.Error
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
<form asp-action="Update">
	<div class="card">
		<div class="card-header">
			<h5>Edición Contrato</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" name="Id" value="@Model.Id" />
					<div class="mb-3">
						<label asp-for="Desde" class="form-label"></label>
						<input asp-for="Desde" class="form-control" type="date" />
						<span asp-validation-for="Desde" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Hasta" class="form-label"></label>
						<input asp-for="Hasta" class="form-control" type="date" />
						<span asp-validation-for="Hasta" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="InmuebleId" class="form-label"></label>
						<select name="InmuebleId" class="form-control">
							@foreach (var item in ltaInmuebles)
							{
								@:<option @(item.Id==Model.InmuebleId ? "selected" : "")  value="@item.Id" >@(item.TipoNombre) - @(item.Direccion) - $@(item.Valor)</option>
							}
						</select>
						<span asp-validation-for="InmuebleId" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Valor" class="form-label"></label>
						<div class="input-group">
							<span class="input-group-text" id="">$</span>
							<input asp-for="Valor" class="form-control text-end" />
						</div>
						<span asp-validation-for="Valor" id="Valor" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="InquilinoId" class="form-label"></label>
						<select name="InquilinoId" class="form-control">
							@foreach (var item in ltaInquilinos)
							{
								@:<option @(item.Id==Model.InquilinoId ? "selected" : "") value="@item.Id">@(item.ToString())</option>
							}
						</select>
						<span asp-validation-for="InquilinoId" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a asp-action="Index" class="float-end">Volver a la lista</a>
			<input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
		</div>
	</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
