@model IEnumerable<ulp_net_inmobiliaria.Models.Contrato>

@{
	ViewData["Title"] = "Listado";
}

<div class="card">
	<div class="card-header">
		<a asp-action="Create" class="float-end btn btn-outline-primary btn-sm"><span><i
					class="fa-solid fa-plus fa-fw"></i></span> Crear
			Contrato</a>
		<h5>Contratos</h5>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Desde)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Hasta)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Valor)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.InquilinoId)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.InmuebleId)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@(item.Desde.ToShortDateString())
						</td>
						<td>
							@(item.Hasta.ToShortDateString())
						</td>
						<td>
							$@Html.DisplayFor(modelItem => item.Valor)
						</td>
						<td>
							@item.Inquilino.ToString()
						</td>
						<td>
							@item.Inmueble.ToString()
						</td>
						<td>
							<a class="ms-1 btn btn-sm btn btn-outline-success" asp-controller="Contratos" asp-action="Details"
								asp-route-id="@item.Id"><span><i class="fa-solid fa-circle-info fa-fw"></i></span></a>
							<a class="ms-1 btn btn-sm btn btn-outline-primary" asp-controller="Contratos" asp-action="Edit"
								asp-route-id="@item.Id"><span><i class="fa-solid fa-pencil fa-fw"></i></span></a>
							@if (User.IsInRole("Administrador"))
							{
								<a class="ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Contratos" asp-action="Delete"
									asp-route-id="@item.Id"><span><i class="fa-solid fa-trash fa-fw"></i></span></a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>