@model ulp_net_inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
    var ltaInmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
	var ltaInquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
}
@if( ViewBag.Error != null ){
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Atención!</strong> @ViewBag.Error
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
<form asp-action="Create">
	<div class="card">
		<div class="card-header">
			<h5>Renovar Contrato</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-3">
						<label asp-for="Desde" class="form-label"></label>
						<input asp-for="Desde" class="form-control" type="date" />
						<span asp-validation-for="Desde" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Hasta" class="form-label"></label>
						<input asp-for="Hasta" class="form-control" type="date" />
						<span asp-validation-for="Hasta" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="InmuebleId" class="form-label"></label>
						<input name="Inmueble" class="form-control" value="@Model.Inmueble.ToString()" readonly>
						<input type="hidden" name="InmuebleId" value="@Model.InmuebleId" />
						<span asp-validation-for="InmuebleId" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Valor" class="form-label"></label>
						<div class="input-group">
							<span class="input-group-text" id="">$</span>
							<input asp-for="Valor" class="form-control text-end" />
						</div>
						<span asp-validation-for="Valor" id="Valor" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="InquilinoId" class="form-label"></label>
						<input name="Inquilino" class="form-control" value="@Model.Inquilino.ToString()" readonly>
						<input type="hidden" name="InquilinoId" value="@Model.InquilinoId" />
						<span asp-validation-for="InquilinoId" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a asp-action="Index" class="float-end">Volver a la lista</a>
			<input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
		</div>
	</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
