@model ulp_net_inmobiliaria.Models.Inmueble

@{
	ViewData["Title"] = "Eliminar";
}

<form asp-action="Delete">
	<div class="card">
		<div class="card-header">
			<h5>Eliminar Inmueble</h5>
		</div>
		<div class="card-body">
			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Tipo)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.TipoNombre)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Uso)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.UsoNombre)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Direccion)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Direccion)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Ambientes)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Ambientes)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Superficie)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Superficie)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Latitud)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Latitud)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Longitud)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Longitud)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Valor)
				</dt>
				<dd class="col-sm-10">
					$@Html.DisplayFor(model => model.Valor)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.PropietarioId)
				</dt>
				<dd class="col-sm-10">
					@Model.Propietario.ToString()
				</dd>
			</dl>
		</div>
		<div class="card-footer">
			<a asp-action="Index" class="float-end">Volver a la lista</a>
			<input type="submit" value="Borrar" class="btn btn-outline-danger btn-sm" />
		</div>
	</div>
</form>
