@model ulp_net_inmobiliaria.Models.Inmueble

@{
	ViewData["Title"] = "Detalles";
	var ltaContratos = (List<Contrato>)ViewBag.Contratos;
}

<div class="card">
	<div class="card-header">
		@if (User.IsInRole("Administrador"))
		{
			<a class="float-end ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Inmuebles" asp-action="Delete"
				asp-route-id="@Model.Id"><span><i class="fa-solid fa-trash fa-fw"></i></span></a>
		}
		<a class="float-end ms-1 btn btn-sm btn btn-outline-primary" asp-controller="Inmuebles" asp-action="Edit"
			asp-route-id="@Model.Id"><span><i class="fa-solid fa-pencil fa-fw"></i></span></a></a>
		<h5>Detalles Inmueble</h5>
	</div>
	<div class="card-body">
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Tipo)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.TipoNombre)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Uso)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.UsoNombre)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Direccion)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Direccion)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Ambientes)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Ambientes)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Superficie)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Superficie)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Latitud)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Latitud)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Longitud)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Longitud)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Valor)
			</dt>
			<dd class="col-sm-10">
				$@Html.DisplayFor(model => model.Valor)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.PropietarioId)
			</dt>
			<dd class="col-sm-10">
				@Model.Propietario.ToString() <a class="ms-1 btn btn-sm btn btn-outline-success" asp-controller="Propietarios" asp-action="Details"
					asp-route-id="@Model.PropietarioId">
						<span><i class="fa-solid fa-circle-info fa-fw" title="Back"></i></span>
					</a>
			</dd>
		</dl>
	</div>
	<h5 class="ps-3">Lista de Contratos del Inmueble</h5>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						Desde
					</th>
					<th>
						Hasta
					</th>
					<th>
						Valor
					</th>
					<th>
						Inquilino
					</th>
				</tr>
			</thead>
			<tbody>
				@if(ltaContratos.Count > 0){
					foreach (var item in ltaContratos)
					{
						<tr>
							<td>
								@(item.Desde.ToShortDateString())
							</td>
							<td>
								@(item.Hasta.ToShortDateString())
							</td>
							<td>
								$@Html.DisplayFor(modelItem => item.Valor)
							</td>
							<td>
								<a class="ms-1 btn btn-sm btn btn-outline-success" asp-controller="Inquilinos" asp-action="Details"
								asp-route-id="@item.InquilinoId"><span><i class="fa-solid fa-circle-info fa-fw"></i></span></a> @item.Inquilino.ToString() 
							</td>
						</tr>
					}
				} else {
					<tr><td class="text-center" colspan="4">No hay Contratos para mostrar</td></tr>
				}
			</tbody>
		</table>
	</div>
	<div class="card-footer">
		<a asp-action="Index" class="float-end">Volver a la lista</a>
	</div>
</div>
