@model ulp_net_inmobiliaria.Models.Inmueble

@{
	ViewData["Title"] = "Editar Inmueble";
	var Propietarios = (IList<Propietario>)ViewBag.Propietarios;
}

<form asp-action="Update">
	<div class="card">
		<div class="card-header">
			<h5>Edición Inmueble</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" name="Id" value="@Model.Id" />
					<div class="mb-3">
						<label asp-for="Tipo" class="form-label"></label>
						<select class="form-control" name="Tipo">
							@foreach (var item in (IDictionary<int, string>)ViewBag.Tipos)
							{
								@:<option @(item.Key == Model.Tipo ? "selected" : "") value="@item.Key">@item.Value</option>
							}
						</select>
						<span asp-validation-for="Tipo" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Uso" class="form-label"></label>
						<select class="form-control" name="Uso">
							@foreach (var item in (IDictionary<int, string>)ViewBag.Usos)
							{
								@:<option @(item.Key == Model.Uso ? "selected" : "") value="@item.Key">@item.Value</option>
							}
						</select>
						<span asp-validation-for="Tipo" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Direccion" class="form-label"></label>
						<input asp-for="Direccion" class="form-control" />
						<span asp-validation-for="Direccion" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Ambientes" class="form-label"></label>
						<input asp-for="Ambientes" class="form-control" />
						<span asp-validation-for="Ambientes" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Superficie" class="form-label"></label>
						<input asp-for="Superficie" class="form-control" />
						<span asp-validation-for="Superficie" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Latitud" class="form-label"></label>
						<input asp-for="Latitud" class="form-control" />
						<span asp-validation-for="Latitud" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Longitud" class="form-label"></label>
						<input asp-for="Longitud" class="form-control" />
						<span asp-validation-for="Longitud" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="PropietarioId" class="form-label"></label>
						<select class="form-control" name="PropietarioId">
							@foreach (var item in Propietarios)
							{
								@:<option @(item.Id == Model.PropietarioId ? "selected" : "") value="@item.Id">@(item.ToString())</option>
							}
						</select>
						<span asp-validation-for="PropietarioId" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Valor" class="form-label"></label>
						<div class="input-group">
							<span class="input-group-text" id="">$</span>
							<input asp-for="Valor" class="form-control text-end" />
						</div>
						<span asp-validation-for="Valor" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Estado" class="form-label"></label>
						<select class="form-control" name="Estado">
							<option value="0">No Disponible</option>
							<option value="1">Disponible</option>
						</select>
						<span asp-validation-for="Tipo" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a asp-action="Index" class="float-end">Volver a la lista</a>
			<input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
		</div>
		<div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}