@model IEnumerable<ulp_net_inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Listado";
}

<div class="card">
	<div class="card-header">
		<a asp-action="Create" class="float-end btn btn-outline-primary btn-sm"><i class="fa-solid fa-plus"></i> Crear Inmueble</a>
		<h5>Inmuebles</h5>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Tipo)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Direccion)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Ambientes)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Superficie)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Latitud)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Longitud)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Valor)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.TipoNombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Direccion)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Ambientes)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Superficie)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Latitud)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Longitud)
					</td>
					<td>
						$@Html.DisplayFor(modelItem => item.Valor)
					</td>
					<td>
						<a class="ms-1 btn btn-sm btn btn-outline-primary" asp-controller="Inmuebles" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a>
						<a class="ms-1 btn btn-sm btn btn-outline-success" asp-controller="Inmuebles" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
						<a class="ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Inmuebles" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"></i></a>
					</td>
				</tr>
		}
			</tbody>
		</table>
	</div>
</div>