@model IEnumerable<ulp_net_inmobiliaria.Models.Propietario>

@{
	ViewData["Title"] = "Listado";
}

<div class="card">
	<div class="card-header">
		<a asp-action="Create" class="float-end btn btn-outline-primary btn-sm"><span><i
					class="fa-solid fa-plus fa-fw"></i></span> Crear
			Propietario</a>
		<h5>Propietarios</h5>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Nombre)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Apellido)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Dni)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Telefono)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Email)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Nombre)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Apellido)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Dni)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Telefono)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Email)
						</td>
						<td>
							<a class="ms-1 btn btn-sm btn btn-outline-success" asp-controller="Propietarios" asp-action="Details"
								asp-route-id="@item.Id">
								<span><i class="fa-solid fa-eye fa-fw" title="Back"></i></span>
							</a>
							<a class="ms-1 btn btn-sm btn btn-outline-primary" asp-controller="Propietarios" asp-action="Edit"
								asp-route-id="@item.Id">
								<span><i class="fa-solid fa-pencil fa-fw" title="Back"></i></span>
							</a>
							<a class="ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Propietarios" asp-action="Delete"
								asp-route-id="@item.Id">
								<span><i class="fa-solid fa-xmark fa-fw" title="Back"></i></span>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>