@model IEnumerable<ulp_net_inmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Listado";
}

<div class="card">
	<div class="card-header">
		<a asp-action="Create" class="float-end btn btn-outline-primary btn-sm"><i class="fa-solid fa-plus"></i> Crear Inquilino</a>
		<h5>Inquilinos</h5>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Nombre)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Apellido)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Dni)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Telefono)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Email)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Apellido)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dni)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Telefono)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						<a class="ms-1 btn btn-sm btn btn-outline-success" asp-controller="Inquilinos" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
						<a class="ms-1 btn btn-sm btn btn-outline-primary" asp-controller="Inquilinos" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a>
						<a class="ms-1 btn btn-sm btn btn-outline-danger" asp-controller="Inquilinos" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark"></i></a>
					</td>
				</tr>
		}
			</tbody>
		</table>
	</div>
</div>